---
layout: category
permalink: /pretraining/
title: pre training

---
{% include head.html %}
<!--
    <div class="container">
<section class="grid-3">
      {% for pretraining in site.pretraining %}
        <div class="card">
            <a href="{{pretraining.url | absolute_url}}">
                <h1>{{pretraining.title}}</h1>
                <p> Person: {{pretraining.person}}</p>
            </a>
        </div>
      {% endfor %} 
    </section>
    </div>

-->
{% include foot.html %}