<div class="container">
    <div class="card-wide">
       
        <div class="thumbnail-box">
            <h2>ངའི་སྐོར།</h2>
            <div class="thumbnail-img">

            </div>
        </div>
        <div class="bio">
            <p>གུས་མོ་ནི་དབུས་ཕྱོགས་སུ་སྐྱེས་ཞིང་དབུས་ཕྱོགས་ལ་འཚར་ལོངས་བྱུང་བའི་བོུ་ཞིག་ཡིན། རྒྱལ་ནང་དུ་སློབ་གྲྭ་ཆེ་འབྲིང་ཆུང་གསུམ་འགྲིམས་མྱོང་བ་མ་ཟད།  ལས་དང་བསོད་ནམས་ཀྱི་དབང་གིས་མུ་མཐུད་ཕྱི་རྒྱལ་ལའང་སློབ་སྦྱོང་བྱེད་པའི་བསྐལ་བ་བཟང་པོ་ཐོབ། 
                ཚན་རྩལ་གྱི་དུས་རབས་འདིའི་ནང་དུ། དྲ་རྒྱ་དང་འཕྲུལ་རིག་ལག་རྩལ་སྐོར་ལ་གོ་རྟོགས་མེད་ཚེ་ལུས་ཀྱི་ཆ་ཤས་གང་རུང་ཞིག་མ་ཚང་བ་དང་འདྲ་བས། དུས་རབས་ཀྱི་རྗེས་ཟིན་མི་ཐུབ། ལྷག་པར་དུ། སྐྱེས་མ་ཚོས་དྲ་ལམ་གྱི་ཉེན་ཁའི་ཁྲོད་དུ། རང་ཉིད་དང་སོ་སོའི་ཁྱིམ་ཚང་གི་བདེ་འཇགས་འགན་སྲུང་ཐུབ་པ་བྱེད་རྒྱུ་དེ་ཁ་ཡོད་ལག་ཡོད་ཀྱི་གནད་དོན་གལ་ཆེན་ཞིག་ཆགས་ཀྱི་ཡོད་སྟབས། 
                ཉེ་བའི་ལོ་ཤས་ནང་དུ། གུས་མོས་དེང་གི་དུས་སུ་ཆེས་ཚ་ཚ་འུར་འུར་དུ་གྱུར་བའི་དྲ་སྦྲེལ་ཉེན་ཁའི་སྐོར་ལ་སློབ་སྦྱོང་ཕྲན་བུ་བྱས་མྱོང་ལ། རང་ཉིད་ཀྱིས་གང་ཤེས་པ་དག་གཞན་ལ་བརྒྱུད་སྤྲོད་བྱས་ཏེ། ཁྱེད་ཚོའི་འཚོ་བའི་ཁྲོད་ཕན་པ་ཅུང་ཙམ་ཞིག་བསྒྲུབ་ཐུབ་པའི་འདུན་པ་བཅངས་ཡོད།
                </p>
        </div>
    </div>
</div>
