<div class="container">
    <div class="menu-box">
        <div class="menu">
            <a href="blog.html"><h2>འཇིག་ཉེན་ཀུན་བྲལ་དྲ་རྒྱའི་འཇིག་རྟེན།</h2> 
                <div class="overlay"></div>        
                <img src="/assets/icons/1.jpg" alt="/assets/icons/1.jpg"></a>
        </div>
        <div class="menu">
            <h2>འཇིག་ཉེན་ཀུན་བྲལ་དྲ་རྒྱའི་འཇིག་རྟེན།</h2>
            <img src="/assets/icons/2.jpg" alt="/assets/icons/1.jpg">
        </div>
        <div class="menu">
            <h2>འཇིག་ཉེན་ཀུན་བྲལ་དྲ་རྒྱའི་འཇིག་རྟེན།</h2>
            <img src="/assets/icons/3.jpg" alt="/assets/icons/1.jpg">
        </div>
        <div class="menu">
            <h2>འཇིག་ཉེན་ཀུན་བྲལ་དྲ་རྒྱའི་འཇིག་རྟེན།</h2>
            <img src="/assets/icons/4.jpg" alt="/assets/icons/1.jpg">
        </div>
    </div>
</div>